@import "../../assets/variables.scss";
.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: rgb(46, 27, 40);
	padding: 30px;
	border-radius: 10px;
	&__title {
		color: $text-color;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		background: none;
		border: none;
		color: white;
		font-size: 20px;
		cursor: pointer;
		outline: none;
		&:hover {
			color: rgb(255, 100, 100); /* Эффект при наведении */
		}
	}
}
