@import '../../assets/variables';

.error-code {
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		font-weight: $font-weight-regular;
		font-size: $font-large;
		text-align: center;
		color: $text-color;
	}
}
