@import "../../assets/variables.scss";
.main-chat {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	&__list {
		display: flex;
		flex-direction: column;
		background-color: #2c2c2c;
		color: #fff;
	}

	&__dialog {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		background-color: #111112;
		flex: 3;
	}
	&__messages {
		flex: 1;
		overflow-y: auto;
		padding: 15px;
	}
	&__dialog-form {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-top: 1px solid #40444b;
	}
}

.header-chat {
	justify-content: space-between;
	padding: 0 8px;
}

.message-input-container {
	display: flex;
	align-items: center;
	background-color: $bg-color;
	border-radius: $border-radius;
	padding: $container-padding;
	box-shadow: $container-shadow;
	width: 100%;
	max-width: 600px;
	border: 1px solid $border-color;
}

.message-input {
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
	color: $text-color;
	font-size: $font-size;
	resize: none;
	overflow: hidden;
	min-height: 20px;
	line-height: 1.5;
}

button {
	background: none;
	border: none;
	color: $button-color;
	font-size: 16px;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	transition: background-color 0.2s;
}

button:hover {
	background-color: $button-hover-bg;
}

.attach-btn {
	margin-right: 10px;
}

.emoji-btn {
	margin-left: 10px;
}

.send-btn {
	color: $send-btn-color;
	font-size: 18px;
}
