<main class='main main-chat'>
	<section class="main-chat__list">
		<header class='header header-chat'>
			{{{ MenuBurgerComponent }}}
			{{{ InputSearchComponent }}}
		</header>
		{{{ DialogListComponent }}}
	</section>
	<section class='main-chat__dialog'>
		{{{ PopUpComponent }}}
	</section>
</main>
