<div class="page">
	<header class="header header-profile">
		<div class='header-profile__avatar'>
			<img src="https://github.com/DoneAlejandro/yandex-praktikum/blob/sprint_1/src/assets/img/kchay.jpg?raw=true" alt="name">
		</div>
		{{{ titleComponent }}}
	</header>
	{{{ mainComponent }}}
	{{{ footerComponent }}}
</div>
