@import "../../assets/variables";
.change-password-form {
	max-width: 400px;
	background-color: $menu-button-bgcolor;
	padding: $padding;
	border-radius: $border-radius;
	position: relative;
	&__input{
		color: $text-light-color;
	}
}
